/*VARIABLES DE COLOR*/
$color-acento: #C04B80;
$color-tipografia: #3F0A36;
$color-violeta: #b8bfd9;
$color-gris-2: #f2f2f2;
$color-gris-1:#81868c;
$color-violeta-2: #563a83;
$color-fondo: #fcfcfc;

/*VARIABLES FUENTES*/
$display-large: 700 57px montserrat;
$display-medium: 400 45px montserrat;
$display-small: 700 36px montserrat;
$headline-large: 700 32px montserrat;
$headline-medium: 500 28px ubuntu;
$headline-small:  400 24px ubuntu;
$title-large: 700 22px montserrat;
$title-medium: 700 24px ubuntu;
$title-small: 700 14px ubuntu;
$label-large: 700 14px montserrat;
$label-medium: 700 12px montserrat;
$label-small: 700 11px montserrat;
$body-large: 400 16px ubuntu;
$body-medium: 400 14px ubuntu;
$body-small: 400 12px ubuntu;
