/*Tipografia*/



.nav-item{
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;

}

.hero{
    display: flex;
    justify-content: baseline;
}

