/*Aplicacion de color-texto */
.texto-acento{
    color:#c04b80;
}
.texto-tipografia{
    color:#3F0A36;
}
.texto-violeta{
    color:#b8bfd9;
}
.texto-gris-1{
    color:#81868c
}
.texto-violeta-2{
    color: #563a83;
}
.texto-gris-2{
    color: #f2f2f2;
}
/*fondos*/
.fondo-primario {
    background-color: #fcfcfc;
}
.bg-hero-index{
    background-image: url(imagenes/HEro.png);
}
.bg-hero-sections{
    background-image: url(imagenes/header.png);
    background-position: center;
}
.bg-titulos{
    background-position: center;
    background-image: url(imagenes/Title.png);
    background-repeat: no-repeat;
    display: flex;
}
.bg-descriptions{
    background-position:left;
    background-image: url(imagenes/Rectangle.png);
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-right:10%;
    overflow: visible;
}
.bg-descriptions:hover{
    border-radius: 16px;
    background-color: #b8bfd9;
    margin-left: 15%;
    margin-right:15%;
    padding: 40px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12)

}

/*contenedores*/
.cards-proyectos{
    background-image: url(imagenes/peakit.png);
    background-position: center;
    display: flex;
    padding: 16px;
    min-height: 240px;
flex-direction: column;
align-items: flex-start;
border-radius: 16px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12)
}
/*proyectos*/
.cards-proyectos-marip{
    background-image: url(/imagenes/Work/Hero.png);
    background-position: center;
    display: flex;
    padding: 16px;
    min-height: 240px;
flex-direction: column;
align-items: flex-start;
border-radius: 16px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12)
}
.cards-proyectos-pfj{
    background-image: url(/imagenes/pfj/Desktop\ 1\ -\ Register\ 26.png);
    background-position: left;
    display: flex;
    padding: 16px;
    min-height: 240px;
flex-direction: column;
align-items: flex-start;
border-radius: 16px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12)
}
.cards-proyectos-welyng{
    background-image: url(/imagenes/Welyng/OfficeMockup.png);
    background-position: center;
    display: flex;
    padding: 16px;
    min-height: 240px;
flex-direction: column;
align-items: flex-start;
border-radius: 16px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12)
}
.cards-proyectos-mpa{
    background-image: url(/imagenes/MPA/Courses\ creation-\ upload\ file.png);
    background-position: center;
    display: flex;
    padding: 16px;
    min-height: 240px;
flex-direction: column;
align-items: flex-start;
border-radius: 16px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12)
}
.cards-proyectos-mia{
    background-image: url(/imagenes/mial/image.png);
    background-position: left;
    display: flex;
    padding: 16px;
    min-height: 240px;
flex-direction: column;
align-items: flex-start;
border-radius: 16px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12)
}

.cards-proyectos-aidthink{
    background-image: url(/imagenes/aidthink/Hero.png);
    background-position: right;
    display: flex;
    padding: 16px;
    min-height: 240px;
flex-direction: column;
align-items: flex-start;
border-radius: 16px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12)
}

.detalles-proyectos{
background-color: #b8bfd995;
border-radius: 96px 2px 54px 1px;
display: flex;
padding: 16px 24px;
flex-direction: column;
align-items: flex-start;
width: 215px;
}
.detalles-proyectos:hover{
    background-color: #b8bfd9;
    width: 100%;
    height: 100%;
}
.experiencia{
    width: 280px;
    padding: 16px;
    border-radius: 0px 40px 2px 0px;
    background:#f2f2f2;
}
.experiencia-contenedor{
    margin-left: 10%;
    margin-right: 10%;
}



/*tipografias*/

.display-large{
    font-family: "Montserrat Alternates";
font-size: 57px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 112.281% */
letter-spacing: -0.25px;
}
.display-medium{
    font-family: "Montserrat Alternates";
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: 52px; /* 115.556% */
}
.display-small{
    font-family: "Montserrat Alternates";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 44px; /* 122.222% */
}
.headline-large {
    font-family: "Montserrat Alternates";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 125% */
}
.headline-medium{
    font-family: Ubuntu;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 128.571% */
}
.headline-small{
    font-family: Ubuntu;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
}
.title-large{
    font-family: "Montserrat Alternates";
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
}
.title-medium{
    font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.15px;
}
.title-small{
    font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
letter-spacing: 0.1px;
}
.label-large{
    font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
letter-spacing: 0.1px;
}
.label-medium{
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.5px; 
}
.label-small{
    font-family: Ubuntu;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 145.455% */
    letter-spacing: 0.5px;
}
.body-large{
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
}
.body-medium{
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px; 
}
.body-small{
font-family: Ubuntu;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
}



.nav-item{
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;

}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 8px 24px 1px 160px;
}

/*botones*/
.boton-primario{
    display: inline-flex;
padding: 8px 16px;
align-items: center;
gap: 11px;
border-radius: 8px 1px 8px 8px;
background-color:#C04B80;
/* DD light */
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
border: none;
}
.boton-primario:hover{
    background-color:#563a83;
    padding: 16px 24px;

}

.boton-secundario{
    display: flex;
height: 40px;
padding: 8px 16px;
align-items: center;
gap: 11px;
border-radius: 16px 4px;
border: 1px solid var(--Violeta, #B8BFD9);
}

.boton-secundario:hover{
    display: flex;
height: 48px;
padding: 8px 16px;
align-items: center;
gap: 11px;
border-radius: 16px 4px;
background-color: #b8bfd9;
}
