.project-images--right{
    border-radius: 60px 24px 120px 0px;
    background-position: center;
    min-height:240px;
    max-height: 280px;
    max-width: 60%;
    background-color: rgb(239, 237, 236);
    overflow: hidden;
}
.project-images--left{
    border-radius: 0px 200px 0px 80px;
    align-self: stretch;
    background-position: center;
    min-height:240px;
}
.figura-left{
    width: 40%;
    height: 140px;
    min-width: 80px;
    transform: rotate(-179.714deg);
    position: absolute;
    left: -360px;
}
.figura-right{
    width: 159.735px;
    height: 300.487px;
    transform: rotate(-0.061deg);
    position: absolute;
    right: 0px;
    bottom: -187.656px;

}